@use "../../styles/partials/variables" as * ;
@use "../../styles/partials/mixins" as * ;
@use "../../styles/partials/typograpgy" as * ;

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    &__nav {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: $secondary-color-darkblack;
        padding: 20px;
    }
    &__logo {
        width: 250px;
        margin-left: 25px;
    }

    &__search {
        margin-left: 45px;
    }

    &__nav-ul {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
    }

    &__nav-li {
        margin: 12px;
    }

    &__nav-p {
        color: white;
        font-family: "Roboto";
        text-transform: uppercase;
    }



}

