$primary-nba-blue : #1D428A;

$primary-color-black: #323232;
$secondary-color-darkblack: #000000;

$primary-color-yellow: #FBCD44;
$secondary-color-mercury: #E1E1E1;

$primary-color-orange: #F58426;
$secondary-color-green: #00788C;

$primary-color-red: #C8102E;
$secondary-color-darkblue: #0065AD;

$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
