@use "../../styles/partials/variables" as *;

.mainLegacy {
    background-color: $secondary-color-darkblack;
}

.legacyTitle {
    color: $secondary-color-mercury;
    padding: 0px 32px;
}

.legacySection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    width: 700px;
    height: 427px;
    margin: 50px 25px;
    object-fit: contain;
}

.text {
    width: 500px;
    height: 400px;
    margin: 50px 25px;

}