@use "../../styles/partials/variables" as *;

.cardDisplay {
    height: 350px;
    // border: 1px solid black;
    position: relative;
}

.sectionTitle {
    padding: 15px 32px 10px 32px;
}

.scroll {
    display: flex;
    position: absolute;
    bottom: 20%;
    left: 40%
}

.redDiv {
    background-color: $primary-color-red;
    border-radius: 10px;
    height: 250px;
    width: 800px;
    margin-left: 32px;
}