@use "../../styles/partials/variables" as *;

.playerCard {
    border: 1px solid $secondary-color-mercury;
    height: 220px;
    width: 260px;
    margin: 0px 6px;
    text-align: center;
    position: relative;
    border-radius: 12px;
    // background: linear-gradient(#e66465, #9198e5);
    background-image: linear-gradient(to right, rgb(16, 16, 36), $primary-nba-blue);

    &__info {
        // border: 1px solid green;
        position: absolute;
        bottom: 15%;
        background-color: $primary-nba-blue;
        color: $secondary-color-mercury;
        width: 100%;
    }
}

.link {
    position: absolute;
    background-color: #24324A;
    text-decoration: none;
    top: 186px;
    width: 100%;
    height: 30px;
    border-radius: 12px;
    padding-top: 5px;
    z-index: 2;


    &__item {
        color: $secondary-color-mercury;
        text-decoration: none;
    }
}